@font-face {
  font-family: 'MyriadSetPro-Medium';
  src: url('../fonts/MyriadSetPro-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadSetPro-Medium.woff') format('woff'), url('../fonts/MyriadSetPro-Medium.ttf')  format('truetype'), url('../fonts/MyriadSetPro-Medium.svg#MyriadSetPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadSetPro-Bold';
  src: url('../fonts/MyriadSetPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadSetPro-Bold.woff') format('woff'), url('../fonts/MyriadSetPro-Bold.ttf')  format('truetype'), url('../fonts/MyriadSetPro-Bold.svg#MyriadSetPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadSetPro-Semibold';
  src: url('../fonts/MyriadSetPro-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadSetPro-Semibold.woff') format('woff'), url('../fonts/MyriadSetPro-Semibold.ttf')  format('truetype'), url('../fonts/MyriadSetPro-Semibold.svg#MyriadSetPro-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadSetPro-Text';
  src: url('../fonts/MyriadSetPro-Text.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadSetPro-Text.woff') format('woff'), url('../fonts/MyriadSetPro-Text.ttf')  format('truetype'), url('../fonts/MyriadSetPro-Text.svg#MyriadSetPro-Text') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadSetPro-Thin';
  src: url('../fonts/MyriadSetPro-Thin.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadSetPro-Thin.woff') format('woff'), url('../fonts/MyriadSetPro-Thin.ttf')  format('truetype'), url('../fonts/MyriadSetPro-Thin.svg#MyriadSetPro-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadSetPro-Ultralight';
  src: url('../fonts/MyriadSetPro-Ultralight.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadSetPro-Ultralight.woff') format('woff'), url('../fonts/MyriadSetPro-Ultralight.ttf')  format('truetype'), url('../fonts/MyriadSetPro-Ultralight.svg#MyriadSetPro-Ultralight') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: MyriadSetPro-Medium, serif !important;
}

body {
    font-family: "Open Sans", serif;
    font-size: 14px;
    line-height: 1.78em;
    color: #646464;
    font-weight: 400;
    
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
}
h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h6, h6 a {
    color: #363636;
}
h6 {
    font-size: 16px;
    line-height: 1.85em;
    font-weight: 400;
}
p{
    line-height: 26px;
    margin:0;
}
a, p a {
    color: #0088cc;
    text-decoration: none !important;
    cursor: pointer;
    -webkit-transition: color 0.15s ease-out;
    -moz-transition: color 0.15s ease-out;
    -o-transition: color 0.15s ease-out;
    -ms-transition: color 0.15s ease-out;
    transition: color 0.15s ease-out;
}
.color-white{
    color: white;
}
.color-black{
    color: black;
}
.c-black{
    color: rgb(63, 63, 63);
}
.wrapper {
	/*background-color: #f7f7f7;*/
    position: relative;
    z-index: 1000;
    -webkit-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
    transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
    left: 0px;	
}

ul, li{
	margin:0;
	padding:0;
}
header{
	background: rgba(48, 48, 48, 1);
	height: 50px;
}
img{
	max-width: 100%;
	height: auto;
}
.header-desktop .box-content{
    position: relative;
}
.header-desktop nav {
	position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.header-desktop nav ul{
	list-style: none;
}
.header-search{
    position: absolute;
    right: 0;
    width: 50px;
    height: 100%;
}
.header-search:hover .form-search {
    visibility: visible;
    opacity: 1
}
.header-search .form-search{
    position: absolute;
    right:50px;
    height: 50px;
    background: #000;
    padding: 15px 35px;
    max-width: 800px;
    min-width: 800px;
    opacity: 0;
    visibility: hidden;
    line-height: 1.78em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out 0s;
    transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out 0s;
}
.header-search .form-search input{
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    display: block;
    font-family: "Open Sans", serif;
    font-size: 13px;
    color: #bbb;
}
.header-search .search-icon{
    width: 50px;
}
.header-search .search-icon i{
    font-size: 16px;
    color: white;
}
.box-content{
	width: 1100px;
    margin: 0px auto;
}
.bg-fa {
    background-color: #fafafa !important;
}
.main-menu > ul > li{
	position: relative;
    display: inline-block;
    float: left;
    padding: 0px;
    margin: 0px;
    background-repeat: no-repeat;
    background-position: right;
    height: 100%;
}
.main-menu > ul > li:hover{
	    opacity: .65;
}
.main-menu > ul {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: 100%;
}

.main-menu > ul > li > a {
	position: relative;
	display: inline-block;
	padding: 0 35px;
    height: 100%;

    font-size: 14px;
    line-height: 50px;
    font-weight: 400;
    color: #fff;
    /*color: #636363;*/
    vertical-align: middle;
    text-transform: none;
    text-decoration: none;
    border: 0px solid transparent;
    background-color: transparent;
    -webkit-transition: color 0.15s ease-out, border-color 0.15s ease-out, background-color 0.15s ease-out;
    transition: color 0.15s ease-out, border-color 0.15s ease-out, background-color 0.15s ease-out;
}
.main-menu > ul > li > a {
    
}
.header-mobile{
	display: none;
    height: auto;
    background-color: #fff;
}
.header-mobile .header-top{
    height: 100px;
}
.header-top .header-box{
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 100%;
}
.header-top .header-box .menu-opener{
    position: absolute;
    height: 100%;
    cursor: pointer;
}
.menu-opener i{
    transition: .1s
}
.menu-opener i:hover{
        color: #0088cc;
}
.header-top .header-mobile-logo{
    height: 100%;
    width: 100%;
}
.header-mobile-logo img{
    height: 31px;
}
.menu-mobile{
    position:absolute;
    display: none;
    z-index: 1;
    width: 100%;
    background-color: #fff;
}
.menu-mobile ul.menu-dropdown{
    width: 80%;
    margin: 0 auto;
    list-style: none
}
.menu-mobile .menu-item a{
    border-bottom: 1px solid #eaeaea;
    display: block;
    font-size: 13px;
    color: #363636;
    padding: 9px 0px;
    display: block;
    position: relative;
    text-transform: none;
    letter-spacing: 0;
}
.menu-mobile .menu-item a:hover{
    color: #0088cc;
}
.box-content .product-logo{
	background-color: #fafafa !important;
}

.items .item{
	text-align: center;
    max-width: 100px;
    padding: 6px 10px;
    box-sizing: initial;
}
.items .item img{
	-moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.items .item:hover img{
	    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.product-menu{
    margin: 30px 0;
}
.product-menu .pm-block{
    margin-bottom: 30px;
}
.product-menu .pm-block:last-child{
    margin-bottom: 0;
}
.product-menu a{
    display: block;
    text-align: center;
    padding: 15px 56px;
    border: 1px solid #d6d6d6;
    margin-left: -1px;
    color: #000;
    font-size: 18px;
    z-index: 0;
}
.product-menu a:hover{
    border-color: #9b9b9b;
    color: #0070c9;    
}

.product-menu a:first-child{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.product-menu a:last-child{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.product-menu a.active{
    border: 1px solid #0088cc;
    z-index: 1;
}
.product-menu .small-menu {

}
.product-menu .small-menu a{
    font-size: 14px;
    padding: 10px 30px;
    flex: 1 1 auto;
}
.product-list{
    margin-top: 20px;
}
.product-list .product-top{
    margin: 30px 0;
}
.product-list .product-top label{
        font-size: 18pt;
    color: #099ee3;
}

}
ul.products{
    list-style: none
}
ul.products .product {
    position: relative;
    text-align: left;
    padding: 0 15px;
    width: 25%;
    margin-bottom: 29px;
    list-style: none;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
ul.products .product:hover{
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
    
ul.products .product .product-content{
    -webkit-box-shadow: 1px 2px 7.28px 0.72px rgba(0,0,0,.08);
    -moz-box-shadow: 1px 2px 7.28px .72px rgba(0,0,0,.08);
    box-shadow: 1px 2px 7.28px 0.72px rgba(0,0,0,.08);
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    
    -webkit-transform: translateY(0);
    transform: translateY(0);
        padding-bottom: 20px;
}
.product-info{
      display: block;
    padding: 21px 0 13px;
    border-bottom: 1px solid #f7f7f7;
    margin: 0 15px 18px;
}
  
.product-info a{
    display: block;
    text-decoration: none
}
.product-info a h6{
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin: 0 0 5px 0;

}
.product-info .product-short-description{
    display: block ;
    color: #444;
    margin-bottom: 15px;
    height: 124px;
    overflow: hidden;
}
.product-info .product-short-description ul{
    padding: 0 0 0 25px;
}
.product-info .product-short-description ul li{
    padding-left: 10px;
}
.product-info .price {

    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #3e3e3e;
}
.btn{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    background-color: #0070c9;
    background: -webkit-linear-gradient(#42a1ec,#0070c9);
    background: linear-gradient(#42a1ec,#0070c9);
    border-color: #07c;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    min-width: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 7px;
    text-align: center;
    white-space: nowrap;
}
.wpb_revslider_element .bx-wrapper{
    border: none;
    box-shadow: none;
    margin-bottom: 0;
}
.bxslider img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    min-height: 350px;
}
.bxslider .caption{
    top: 70px;
    left: 0;
    font-family:  "Open Sans", serif;
    width: 100%;
    transition: .1s
}
.bx-controls-direction a {
    color: white;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.bx-wrapper:hover .bx-controls-direction a {
    opacity: 1;
}
.caption .caption-main{
    font-weight: 600;
    font-family: "Open Sans";
    margin-bottom: 5px;
    font-size: 35px;
    line-height: 35px;
}
.caption .caption-sub{
    font-size: 42px;
    line-height: 42px
}
.product-button .btn:hover{
    color: white;
    background: rgba(0, 0, 0, 0) linear-gradient(#51a9ee, #147bcd) repeat scroll 0 0;
    border-color: #1482d0;
    text-decoration: none;
}
.product-button a {
    margin-left: 15px;
}



/*Detail*/
.detail{
    padding: 30px 0;
}
.detail-image{
    width: 45%;
    margin-right: 4%;
    margin-bottom: 60px;
}
.detail-image .bx-wrapper{
    box-shadow: none;
    margin-bottom:20px;
    border: none
}
.detail-info{
    width: 50%;
    margin-top: 30px;
}
.detail-image .thumbnails ul{
    list-style: none
}
.detail-image .thumbnails a{
    width: 25%;
}
.detail-image .thumbnails a.active{
    background-color: #eaeaea;
}
.summary{
    padding: 0 15px;
}
.detail-text{
    padding: 0 20px;
}
.detail-text ul li{
    padding-left:10px;
}
.summary .detail-title h1{
    font-size: 42px;
    line-height: 44px;
    margin:0;
}
.summary .price{
    font-size: 24px;
    color: #333;
    font-weight: normal;
    padding-bottom: 26px;
}
.summary .detail-description{
    margin: 15px 0;
}
.cart button{
    font-size: 16px;
    font-weight: 500;
    
    border: 1px solid #07c;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    min-width: 30px;
    
    text-align: center;
    white-space: nowrap;
}
.cart .quantity{
    height: 51px;
}
.cart .quantity .quantity-minus{
    border: 1px solid #dbdbdb;
    padding: 0 4px;
    -webkit-transition: background-color .15s ease-out;
    transition: background-color .15s ease-out;
    cursor: pointer;
    border-bottom-right-radius: 5px;
}
.cart .quantity .quantity-plus{
    border: 1px solid #dbdbdb;
    border-bottom: none;
    padding: 0 4px;
    
    -webkit-transition: background-color .15s ease-out;
    transition: background-color .15s ease-out;
    cursor: pointer;
    border-top-right-radius: 5px;
}
.cart .quantity input{
        height: 100%;
    line-height: 100%;
    width: 54px;
    display: inline-block;
    padding: 0;
    background-color: #fff;
    text-align: center;
    color: #23303a;
    font-weight: 400;
    font-size: 18px;
    border: 1px solid #dbdbdb;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.cart button:hover{
    background: rgba(0, 0, 0, 0) linear-gradient(#51a9ee, #147bcd) repeat scroll 0 0;
    border-color: #1482d0;
    text-decoration: none;
    color:white;
}
.cart button i{

    
    font-size: 1.3em;
    
    
    margin-right: 5px;

    -webkit-transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
}
/*End Detail*/





footer p{
    margin:0;
}
footer a{
    text-decoration: none !important;
}
footer .footer-list{
    width: 25%;
    min-height: 210px;
    font-size: 13px
}
footer .footer-holder {
    background-color: #f2f2f2;
    color: #666;
   
}
footer .footer-top {
    padding: 20px;
}
footer .footer-bottom{
    border-top: 1px solid #e3e3e3;
    background-color: #f2f2f2;
    padding-top: 10px;
    padding-bottom: 30px;
}
footer .footer-bottom p{
    line-height: 26px;
    font-size: 13px;
}
.footer-text-widget{
    text-align: center
}
.footer-bottom .footer-right{
    text-align: right
}


/* Large devices, Desktops (>1199px) */
@media screen and (max-width: 1200px) {
    .box-content{width: 950px;}
}

/* Large devices, Desktops ((min-width: 992px) and (max-width: 1199px)) */
@media screen and (max-width: 1199px) {
    
    .bxslider .caption{
        top: 60px;
        transform: scale(0.8);
    }
}
@media screen and (max-width: 1023px){

    .box-content{width: 768px;}
    ul.products .product{
        width: 50%;
    }
    .header-desktop{
        display: none;
    }
    .header-mobile{
        display: block;
    }
    .bxslider .caption{
        top: 30px;
        transform: scale(0.6);
    }
    
    footer .footer-list{
        width: 50%;
    }
}
/* Medium devices (tablets, (min-width: 768px) and (max-width: 991px) and up)*/
@media screen and (max-width: 991px) {
    .bxslider .caption{
        top: 20px;
        transform: scale(0.5);
    }
}
/* Small devices (landscape phones, 576px and up)*/
@media screen and (max-width: 767px) {
    .box-content{width: 600px;}
    
    .bxslider .caption{
        top: -10px;
        transform: scale(0.4);
    }
}

@media screen and (max-width: 600px){
    .product-menu .small-menu a{
        padding: 5px;
    }
    ul.products .product{
        width: 100%;
    }
    .box-content{width: 575px;}
}
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
    .box-content{width: 80%;}
    footer .footer-list{
        width: 100%;
    }
}
